.container {
  width: 1240px;
  margin: auto;
}

.text {
  font-family: 'Source Sans Pro', sans-serif;
  width: fit-content;
  font-size: 2rem;
  color: rgb(30, 31, 35);
  font-weight: 600;
  margin: 0;
}

.info {
  font-family: 'Source Sans Pro', sans-serif;
  width: fit-content;
  font-size: 1rem;
  color: rgb(30, 31, 35);
  font-weight: 500;
  margin: 0;
}
