.container {
  width: 1440px;
  margin: auto;
  display: flex;
  background-image: url(../../../assets/images/blue-red-orange-color-tailoring-leather-tissues-catalog.png);
  background-size: 20rem 110%;
  background-repeat: no-repeat;
  background-position: right;
}

.phone {
  font-family: 'Oswald', sans-serif;
  text-align: right;
  font-size: 1.3rem;
  font-weight: 500;
  margin: 0;
  color: #10002b;
}

.mail {
  font-family: 'Oswald', sans-serif;
  text-align: right;
  font-size: 1.3rem;
  margin: 0;
  font-weight: 400;
  color: #10002b;
  letter-spacing: 0.14rem;
}

// .title {
//   font-family: 'Comfortaa', sans-serif;
//   text-align: left;
//   font-size: 3em;
//   background-image: linear-gradient(to right, #822faf, #b298dc);
//   -webkit-background-clip: text;
//   color: transparent;
//   -webkit-text-fill-color: transparent;
//   margin: 0;
//   width: 9rem;
// }

.logo {
  width: 14rem;
  padding-top: 1rem;
}

.slogan {
  font-family: 'Oswald', sans-serif;
  padding-left: 12rem;
  font-size: 3rem;
  margin: 0;
  font-weight: 300;
  color: #240046;
}

.banner {
  display: flex;
  width: 1240px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.left {
  display: flex;
  flex-direction: column;
}

.right {
  display: grid;
  align-items: center;
  grid-template-columns: 90% 10%;
  grid-gap: 0.5rem;
  padding-right: 9rem;
    padding-top: 4rem;
}
