.button {
  font-family: 'Oswald', sans-serif;
  color: #240046;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
}

.item button {
  border: none;
  background: none;
}


.sidebar {
  margin: 0;
}

.item {
  padding: 0.5rem 0 0;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1440px;
  margin: 2rem auto;
  display: flex;
  justify-content: space-around;
  padding: 0 3rem 0 3rem;
}






