.App {
  margin: 0;
}

@font-face {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 200, 400, 600;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("Helvetica"),
       /* Если не получилось, загрузит woff2 */
       url("./assets/fonts/Helvetica.woff") format("woff"),
       /* Если браузер не поддерживает woff2, загрузит woff */

}
