body {
  margin: 0;
}

html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
p,
span {
  cursor: default;
}
